*{margin: 0;padding: 0;}
body{font-size: 20px;}
.box{width: 100%;background: bisque;}
.logo{width: 100%;height: 200px;border: solid 1px aqua;background: url(../img/logo.jpg) no-repeat center;background-size: 100%;}
.logo::after{content: '';display: block;width: 100%;height: 0;clear: both;}
.logo_1{width: 50%;height: 200px;float: left;}
.logo_1 img{display: block; width: 80%;height: 150px;margin-top: 10%;margin-left: 10%;border-radius: 50%;}
.logo_2{width: 50%;height: 200px;float: left;;}
.logo_2 p:nth-child(1){color: red;font-size: 30px;margin-top: 20px;}
.logo_2 p:nth-child(2){text-indent: 40px;color: #7e818b;}
.nav ul{width: 100%;height: 30px;line-height: 30px;display: flex;}
.nav li{flex: 1;list-style: none;border: solid 1px aqua;text-align: center;}
.box1{width: 100%;height: 100%;position: relative;}
.section1{width: 100%;height: 300px; position: absolute;top: 0px;left: 100%;background: red;}
.section2{width: 100%;height: 300px;position: absolute;top: 0px;left: 100%;background: blueviolet;}
.section3{width: 100%;height: 300px;position: absolute;top: 0px;left: 100%;background: greenyellow;}
